.u-section-1 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 17px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 492px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 13px 18px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  line-height: 1.4;
  margin: 9px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 23px auto 0;
  padding: 14px 100px 14px 98px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 492px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-1 .u-image-1 {
  width: 489px;
  height: 363px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-1 .u-image-1 {
    width: 374px;
    height: 262px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 243px;
    height: 178px;
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 22px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 477px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 316px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 273px;
    height: 193px;
    margin-top: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 139px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 740px;
  margin: -1px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 140px;
  width: 740px;
  margin-right: auto;
  margin-left: auto;
  --gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 299px;
  height: 128px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 299px;
  height: 128px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 134px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 15px;
    margin-bottom: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 260px;
    grid-gap: 0px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 2px;
    margin-bottom: -1px;
    margin-left: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 2px;
    margin-bottom: -1px;
    margin-left: 25px;
  }
}