.u-section-1 .u-sheet-1 {
  min-height: 262px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 27px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1102px;
  margin: 0 11px 36px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 149px;
  --gap: 10px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 15px 427px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 15px 37px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 759px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 136px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 33px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 25px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 14px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 511px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 27px;
  margin-bottom: 10px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 401px;
  grid-auto-columns: 100%;
  --gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-2 .u-image-1 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 27px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 27px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 3245px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 17px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 3119px;
  grid-auto-columns: 100%;
  --gap: 30px;
}

.u-section-3 .u-list-item-1 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 25px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 25px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 25px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 25px 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-6 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 25px 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-7 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 25px 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-8 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 25px 0;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-3 .u-text-17 {
  font-size: 1rem;
  margin: 28px 62px 0 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3556px;
  }

  .u-section-3 .u-text-1 {
    width: 232px;
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-top: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3466px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-15 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-16 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-17 {
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 15px;
  }
}