 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2718px;
}

.u-section-1 .u-text-1 {
  margin: 27px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 27px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 2802px;
  grid-auto-columns: 100%;
  --gap: 30px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-1 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-2 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 25px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-3 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 25px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-4 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 25px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-5 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 25px 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-6 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 25px 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-7 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 25px 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 69px 0 242px;
}

.u-section-1 .u-image-8 {
  width: 175px;
  height: 242px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: -242px 69px 0 242px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2349px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-1 {
    width: 158px;
    height: 218px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-2 {
    width: 158px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-3 {
    width: 158px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-4 {
    width: 158px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-5 {
    width: 158px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-6 {
    width: 158px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-7 {
    width: 158px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-8 {
    width: 158px;
    height: 218px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 13px;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3466px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-1 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-3 {
    margin: 32px 12px -26px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-2 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-5 {
    margin: 32px 12px -26px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-3 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-7 {
    margin: 32px 12px -26px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-4 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-9 {
    margin: 32px 12px -26px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-5 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-11 {
    margin: 32px 12px -26px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-6 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-13 {
    margin: 32px 12px -26px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-7 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-15 {
    margin: 32px 12px -26px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-8 {
    width: 111px;
    height: 165px;
    margin-top: 20px;
    margin-right: 118px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-17 {
    margin: 32px 12px -26px;
  }
}